body {
    padding-top: 125px; /* Whatever the height of your navbar is; the
                             default is 50px */
}

.angular-google-map-container {
    height: 400px;
    /*width: 400px;*/
}


.map{
  height: 100%;
  width: 100%;
}

#map-canvas { height: 100% }
